.SearchResults {
    width: 50%;
    height: 950px;
    overflow-y: scroll;
    padding: .8rem;
    background-color: rgb(255, 139, 85);
    box-shadow: 0 4px 2px 2px #000000;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}