.SearchResults {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    border-right: 40px;
    background-color: rgba(1, 12, 63, 0.7);
    margin-right: 5%;
    max-height: 950px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}